.movie-details-page {
    width: 80%;
    margin: auto;
}

.movie-details-page-section {
    display: flex;
    justify-content: space-between;
}

.movie-details-page-img {
    height: 600px;
    flex-basis: 30%;
}

.movie-details-page-img img {
    height: 100%;
}

.movie-details-page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    padding-left: 50px;
}

.movie-details-page-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movie-info {
    padding: 0;
    margin: 0;
}

.movie-info li {
    list-style: none;
    margin-bottom: 20px;
}

.movie-details-page-heading {
    font-size: 40px;
    margin: 0;
}

.movie-details-page-btns {
    display: flex;
    padding: 0;
    margin: 0;
}

.movie-details-page-btns li {
    display: flex;
    justify-content: center;
    width: 30px;
    padding: 10px 20px;
    background: rgb(233, 233, 34);
    border: 2px solid black;
    border-radius: 17px;
    margin-left: 10px;
}

.movie-details-page-btns a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.movie-trailer {
    margin: 20px 0px;
}

@media all and (max-width: 1260px) {
    .movie-trailer iframe {
        width: 100%;
    }
}

@media all and (max-width: 1050px) {
    .movie-details-page-img {
        height: 530px;
    }

    .movie-details-page-lists {
        flex-direction: column;
    }

    .movie-details-page-content p,
    .movie-details-page-content div {
        width: 100%;
    }

    .movie-trailer iframe {
        height: 240px;
    }
}

@media all and (max-width: 900px) {
    .movie-trailer iframe {
        height: 170px;
    }
}

@media all and (max-width: 800px) {
    .movie-details-page-section {
        flex-direction: column;
        align-items: center;
    }

    .movie-details-page-img {
        width: 90%;
    }

    .movie-details-page-img img {
        width: 100%;
    }

    .movie-details-page-content {
        padding-left: 0;
        text-align: center;
        width: 90%;
    }

    .movie-trailer iframe {
        height: 250px;
    }
}

@media all and (max-width: 520px) {
    .movie-trailer iframe {
        height: 200px;
    }
}

@media all and (max-width: 400px) {
    .movie-trailer iframe {
        height: 150px;
    }
}