.navigation-light {
    background: white;
}

.navigation-dark {
    background: black;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0;
    margin: auto;
    width: 80%;
}

.navigation a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navigation-dark li {
    color: yellow;
    font-size: 20px;
}

.navigation-dark a {
    color: white;
}